<!DOCTYPE html>
<html>
  <head>
    <title>Grad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Pokecenter</a>
  </li>
  <% if user_signed_in? %>
  <li class="nav-item">
    <%=link_to "Sign Out", destroy_user_session_path, class: "nav-link", method: :delete%>
  </li>
  <% else %>
  <li class="nav-item">
    <a class="nav-link" href=<%=new_user_session_path%>>Sign In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=<%=new_user_registration_path%>>Sign Up</a>
  </li>
  <% end %>
</ul>
    <%= yield %>
  </body>
</html>
